<ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-list>

        <ion-list-header>
          Best Videogames in History
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://romsmode.com/statics/assets/covers/gameboy-color/pokemon_yellow_cover_art_by_comunello76-d4xfrr5.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Pokémon Yellow</h2>
            <h3>by GameFreak</h3>
            <p>First game of Pokémon</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://romsmode.com/statics/assets/covers/gameboy-color/pokemon_yellow_cover_art_by_comunello76-d4xfrr5.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Megaman X</h2>
            <h3>By Capcom</h3>
            <p>Best game of Megaman</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>The Legend of Zelda</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pac-Man</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Super Mario World</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item>
          <ion-label>Input</ion-label>
          <ion-input placeholder="input" slot="start"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Toggle</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Radio</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Checkbox</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
        <ion-list>

          <ion-item-sliding>
            <ion-item>
              <ion-label>Item</ion-label>
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option>Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        
          <ion-item-sliding>
            <ion-item>
              <ion-label>Item</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option>Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      
    </ion-col>
  </ion-row>

</ion-content>
